.img-10{
    max-width: 20%;
}

.padding-top-160{
    padding-top: 160px;
}

.center-cropped {
    object-fit: contain;
    object-position: center;
    height: 25rem;
    width: 25rem;
}

@media(max-width: 992px) {
    .center-cropped {
        object-fit: contain;
        margin-bottom: 40px;
    }
}

@media (max-width: 992px) {
    .modal-dialog p {
        font-size: 0.6rem;
        white-space: nowrap;
    }
}

button:focus{
    outline:0 !important;
    box-shadow:none !important;
}
